<!doctype html>


<html lang="de" class="bg">
<head>
    <title>{% block title %}Stone Plattform{% endblock %}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href='{{ asset('bootstrap/css/bootstrap.css') }}'>
    <link rel="stylesheet" href='{{ asset('narrow-jumbotron/narrow-jumbotron.css') }}'>
    <!-- main -->
    <link rel="stylesheet" href='{{ asset('css/main.css') }}'>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="ar-block">
    <div class="left-block">
        <a class="nav-link" href="{{ url('user_register') }}" id="user_register">
            Registrieren
        </a>
    </div>
    <div class="left-block">
        <a class="nav-link" href="{{ url('login') }}" id="user_login">
            Anmelden
        </a>
    </div>
</div>
<div class="container">
<div class="under-container">
    <header class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link {% if (app.request.attributes.get('_route') == 'homepage') %}active{% endif %}" href="{{ url('homepage') }}?example1=bei Stone"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if (app.request.attributes.get('_route') == 'ver_list') %}active{% endif %}" href={{ url('ver_list') }}> Veranstaltungen </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if (app.request.attributes.get('_route') == 'page2') %}active{% endif %}" href="#">Über Stone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if (app.request.attributes.get('_route') == 'contact') %}active{% endif %}" href="#">Kontakt</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">{% block projektName %}Stone Plattform{% endblock %}</h3>
    </header>

    {% block body %}{% endblock %}

</div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src='{{ asset('jQuery/jquery-3.2.1.slim.min.js') }}'></script>
<script src='{{ asset('popper/popper.min.js') }}'></script>
<script src='{{ asset('bootstrap/js/bootstrap.min.js') }}'></script>
<script src='{{ asset('js/main.js') }}'></script>
{% block javascripts %}{% endblock %}

</body>

<div class="footer">

        <span>Fußbar !!</span>

</div>

</html>
